.deliveryCard{
    border-bottom: 1px solid black;
    max-width: 800px;
    min-height: 40px;
    margin-top: 1px;
    display: flex;
    color: rgb(15, 0, 0);
    text-align: center;
    align-items: center;
    background:transparent;
    
    
}
.deliveryCardItem{
    width: calc(100%/4);
   
    font-size: 16px;
    font-weight: 500;
  
   

}