.planerHeader{
    display: flex;
    border-bottom: 2px solid black;
    font-size: 12px;
}
.plannerBody{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    min-width: 800px;
    max-height: 800px;
    margin-top: 60px;
    overflow: auto;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 100;

}
.slotColumn h3{
   padding: 10px;

   
}
.dateColumn{
    width: 150px;
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.headerItem{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
    width: 150px;
}
.headerItemSlot{
    width: 600px;
    text-align: center;
}
.plannerRow{
    display: flex;
    min-height: 50px;
    border-bottom: 1px solid black;
}