.customerTable{
    border: 1px solid black;
    max-width: 800px;
    min-height: 200px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
   
}
.tableHeader{
    display: flex;
    font-size: 10px;
    font-weight: 200;
    justify-content: space-between;
    color: rgb(14, 1, 1);
    padding-left: 10px;
    border-bottom: 3px solid black;
    

}
.deliveryColumns{
    
    width: calc(100% / 4);
    border-right: 2px solid rgb(248, 244, 244);
}